:root {
    --line-height: 46px;
    --main-color: #864D1E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

html {
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: #fff !important;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.col {
    float: left;
    /* padding: 0 8px; */
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333%;
}

.col-full {
    width: 100%;
}