:root {
    --line-height: 46px;
    --main-color: #864D1E;
    --text-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.text-white {
    color: var(--text-white) !important;
}

.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}

.uppercase {
    text-transform: uppercase !important;
}

.row {
    margin-left: -16px;
    margin-right: -16px;
}

.col {
    float: left;
}

.col-half {
    width: 50%;
}

.col-third {
    width: 33.3333%;
}

.col-full {
    width: 100%;
}

.mt-top {
    margin-top: 16px !important;
}

.btn {
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font: inherit;
}