#header {
    height: var(--line-height);
    background-color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
}

#nav > li > a {
    line-height: var(--line-height);
}

#nav li a {
    text-decoration: none;
    padding: 0 24px;
    display: inline-block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.small-subnav {
    display: none;
    position: absolute;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: modalEase ease 0.5s;
}

#nav .arrow-down,
.smallnav .arrow-down {
    font-size: 12px;
}

#nav .subnav li,
.small-subnav li {
    display: block;
    width: 100%;
    
}

#nav .subnav a, 
.small-subnav a{
    color: #000;
    padding: 0 16px;
    line-height: 38.5px;
}

#nav > li:hover > a,
#nav .subnav li:hover {
    color: #000 !important;
    background-color: #ccc !important;
    opacity: 1;
}

.smallnav > li:hover > a,
.small-subnav li:hover {
    display: inline-block;
    width: 100%;
    color: #000 !important;
    background-color: #ccc !important;
}

#nav li:hover .subnav, 
.smallnav li:hover .small-subnav{
    display: block;
}

.small-subnav.open {
    opacity: 1;
    height: auto
}

#header .search-btn {
    padding: 0 24px;
    cursor: pointer;
}

#header .fa {
    line-height: var(--line-height);
}

.search-btn:hover,
.bars-btn:hover {
    background-color: #f44336;
}

.bars-btn {
    display: none;
    padding: 0 24px;
    cursor: pointer;
}

.smallnav {
    display: none;
    background-color: var(--main-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    animation-duration: 0.5;
    animation: modalEase ease 0.5s;
}

.smallnav li a {
    padding: 0 24px;
    line-height: var(--line-height);
}

.small-subnav li {
    padding: 0 0;
}

.smallnav a {
    text-decoration: none;
}

.smallnav.open {

    display: block;
}

@keyframes modalEase {
    from {      
        opacity: 0.8;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}